language: java
deploy:
  provider: heroku
  api_key:
    secure: I5Tg3wgWpnEf8JQ/qkUFB1q53ZrM2sM7tLwRdT9gz6LqQueBmdqFSaNqLcR2dhEWQZYkZnPD4KvinmhNObFCfp0T+Mds6XDzAgw7vKiwDRZn/eet/khVuz/y41nsTKbb/Pf5QikmNeesU3ZKFWbERUq+O5TZPmtBk+LrM1ggkqhQX4p/IFBnLMoD0uhDkimoyWYA+PEpEB2FcTFL5lvPW0b4Iv+k5vUwGN+MxJP3F7a7JmHigJLoJHB/uQoAAcAEcEQMCL6l5Ijz2VFH/rdrbmB/ISlYiceUtcMWHtbhn2dQNmfQjxuBLp+8DWfF/p8Bo/3LhGpCbuQdAPHQzz0WAgkZ1L6pKQ/TevgdAG3ctGd7ZZbin3Gva3NWPPzj9drowhUsyM8nArYKpWC4bAckzOOPJh6FrHfeVH7k9DSv0iaUnxv5TrOZUkitPWENciYSf2XE/dhDaIyaZVPU87CP87zfLrAu4vhYzDAaRQjqvoSNYASKxruX9iI/lUoCpSRSvY925FXjS2+YvW1QgevKywd/1enWf7MlTlvAU+OhTsCG4d7mrT4+uaB9GV2imPbjB9sIirGiDl1PMH6V3+3LQQOrrzlNAdCBmfLKG3M1tN8U5bzVI7z0JK87uZIhKqOYzraAIa6m9lCMcze9DBuROJKUSREGxsNUYqbtiB5FMNo=
  app: frozen-springs-99760
  on:
    repo: FlugfelagidBailAir/TicTacToe
before_install:
- chmod +x gradlew
- "chmod 777 bin/xvfb"

script:
  - ./gradlew seleniumXvfb
