language: java
deploy:
  provider: heroku
  api_key:
    secure: I5Tg3wgWpnEf8JQ/qkUFB1q53ZrM2sM7tLwRdT9gz6LqQueBmdqFSaNqLcR2dhEWQZYkZnPD4KvinmhNObFCfp0T+Mds6XDzAgw7vKiwDRZn/eet/khVuz/y41nsTKbb/Pf5QikmNeesU3ZKFWbERUq+O5TZPmtBk+LrM1ggkqhQX4p/IFBnLMoD0uhDkimoyWYA+PEpEB2FcTFL5lvPW0b4Iv+k5vUwGN+MxJP3F7a7JmHigJLoJHB/uQoAAcAEcEQMCL6l5Ijz2VFH/rdrbmB/ISlYiceUtcMWHtbhn2dQNmfQjxuBLp+8DWfF/p8Bo/3LhGpCbuQdAPHQzz0WAgkZ1L6pKQ/TevgdAG3ctGd7ZZbin3Gva3NWPPzj9drowhUsyM8nArYKpWC4bAckzOOPJh6FrHfeVH7k9DSv0iaUnxv5TrOZUkitPWENciYSf2XE/dhDaIyaZVPU87CP87zfLrAu4vhYzDAaRQjqvoSNYASKxruX9iI/lUoCpSRSvY925FXjS2+YvW1QgevKywd/1enWf7MlTlvAU+OhTsCG4d7mrT4+uaB9GV2imPbjB9sIirGiDl1PMH6V3+3LQQOrrzlNAdCBmfLKG3M1tN8U5bzVI7z0JK87uZIhKqOYzraAIa6m9lCMcze9DBuROJKUSREGxsNUYqbtiB5FMNo=
  app: frozen-springs-99760
  on:
    repo: FlugfelagidBailAir/TicTacToe

dist: trusty
addons:
  chrome: stable

before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - chmod +x gradlew
  - "chmod 777 bin/xvfb"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

before_script:
  - "wget http://chromedriver.storage.googleapis.com/2.9/chromedriver_linux64.zip"
  - "unzip chromedriver_linux64.zip"
  - "ls -al"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script:
  - ./gradlew clean
  - ./gradlew check
  - ./gradlew build
  - ./gradlew seleniumXvfb --info

after_failure:
    - "cat /home/travis/build/FlugfelagidBailAir/TicTacToe/build/reports/tests/seleniumXvfb/index.html"
