body
{
	height: auto;
	width: auto;
	font-family: arial, sans-serif;
	margin: 0;
	background: #e8eaed;
}

header
{
	 background: #323a46;
	 height: 120px;
	 align-content: center;
}

footer
{
  text-align: right;
  word-spacing: 5px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-size: 14px;
  clear: both;
  width: 1120px;
}

h3{
	color: #e8eaed;
	text-transform: uppercase;
	text-align: center;
}

h1{
	color: #edbf19;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
  text-align: center;
}

/*Outline css*/
.container {
  display: flex;
  width: 860px;
  margin: 1em auto 0;
}

.container > * {
  padding: 20px 25px;
}

.submit{
    float: right;
		width: 120px;
		color: #323a46;
		background: #edbf19;
}

.players
{
	border-style: solid;
	border-width: 1px;
	border-color: #DCDCDC;
	height: 20px;
	width: 300px;
	color: #323a46;
}

/*Scoreboard*/
.ScoreBoard {
  position: relative;
  flex-basis: 260px;
}

table
{
	width: 300px;
	border-spacing: 3px;
	border-collapse:collapse;
	border: 1px solid #323a46;
}

table th
{
	text-align: left;
}

table td, table th
{
	padding: 15px;
	border-bottom: 1px solid #323a46;
}

/*Game css*/
.firstrow .box{
	border-left: none !important;
}
.thirdrow .box{
	border-right: none !important;
}
#top{
	border-top: none !important;
}
#bottom{
	border-bottom: none !important;
}

#userInput{
	padding: 10px;
}
#game {
  border-collapse: collapse;
  width: 360px;
  margin: 0 auto;
	display: -webkit-box;
	vertical-align: middle;
	border-color: inherit;
}
#game .box {
  width: 120px;
  height: 120px;
	border-style: solid;
	border-width: 3px;
	border-color: #323a46;;
	cursor: pointer;
}
#game .box:before {
  font-size: 1.5em;
  line-height: 1;
}
#game .box.X:before {
  content: "X";
  color: orange;
}
#game .box.O:before {
  content: "O";
  color: green;
}
#game .box:hover{
  opacity: 0.6;
}

/*Screens*/
.win
{
	opacity: 0.2;
	font-size: 50px;
	color: black;
	background-color: white;
}
