body 
{
	height: auto;
	width: auto;
	font-family: arial, sans-serif;
	margin: 0;
	background: #000000;
	color:#FFFFFF;
}

.headerimg
{
	height: 40px;
	width: 40px;
}

.center-col
{
	width: 1024px;
	margin: 0 auto;
}
h1
{
	text-indent: left;
	color: #b6c1ff;
	font-weight: normal;
	text-align: right;
	display: inline;
	line-height: 40px;
	font-size: 15px;
}

.right
{
	text-align: right;
	padding-bottom: 10px;
}
img
{
	height: 30px;
	width: 30px; 
}

header
{
	 border-top: 2px solid #b6c1ff; 
	 border-bottom: 2px solid #b6c1ff; 
	 background: #ffb6c1;	 
	 padding: 25px 0px;
	 font-weight: normal;	 
}

.tictactitle
{
	 text-align: center;
	 vertical-align: middle;
	 line-height: 50px; 
	 text-transform: uppercase;
	 color: #c1ffc1;
	 letter-spacing: 1px;
	 font-size: 30px;
}

.boxmain
{
	float: left;
	width: 100%;
	height: 500px;

}

#main
{
  width: 70%;
  padding: 10px;
  padding-bottom: 50px;
  padding-top:65px;
  float: left;

}

#scoreBoard
{
  width: 200px;
  float: right;
  padding-top: 70px;
  padding-left: 0px;
}

form
{
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5em;
	border-top: 2px solid #b6c1ff; 
	 border-bottom: 2px solid #b6c1ff; 
	 background: #ffb6c1;	
}

#PlayerOne 
{
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #DCDCDC;
	height: 20px;
	width: 150px;
	color: #c1ffc1;
}

#PlayerTwo
{
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #DCDCDC;
	height: 20px;
	width: 150px;
	
}

label
{
	color: #c1ffc1;
}

#game
{
	border-top: 3px solid #DCDCDC;
	border-bottom: 3px solid #DCDCDC;
	text-align: left;
	padding: 50px;
	height: 280px;	

}

#button
{
	font-size: 110%;
	color: gray;
	width: 80px; 
	height: 30px;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: none;
	border-style: solid;
	border-width: 1px;
	float: right;

}

.rownumber
{
	font-weight: normal;
	color: gray;
}



table
{
	width: 300px;
	border-spacing: 3px;
	border-collapse:collapse;
	border: 1px solid #DCDCDC;
}

table th 
{
	text-align: left; 


}

table td, table th
{
	padding: 15px;
	border-bottom: 1px solid #DCDCDC;
}

footer
{
    text-align: right;
    word-spacing: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 14px;
    clear: both;
}
.email
{
	font-weight: bold;
	color: #c1ffc1;
}

.mailto
{
	color: #b6c1ff;
}

{
	text-decoration: none;
	color: gray;
}


